@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);
@import url(http://fonts.googleapis.com/css?family=Playball);

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

:root{
    var-MainColor:#1e8bc3;
    --main-color: #1e8bc3;
    var-BackColor:#000000;
    --back-color: #000000;
}

body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

@media (min-width: 1200px){
	.container {
	width: 1100px;
	}
}

hName{
	text-transform: uppercase;
	font-size: 100px;
}

h1{
	text-transform: uppercase;
}

h2{
	line-height: 24px;
	margin:  0;
	color: #ffffff;
}

h4 {
	margin-bottom: 22px;
	font-size: 20px;
	font-weight: 700;
	color: var(--main-color);
}
p{
	font-size: 18px;
}

a {
	color: #ffffff;
	transition: all 0.8;
}
a:hover,
a:focus{
	color: var(--main-color);
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* Home Style */
#tf-home{
	background: url(../img/14.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tf-home .overlay{
	/*background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 17%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.2) 62%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
}

.content{
	padding: 15% 0 18% 0;
	text-align: center;
}
.quote{
	padding: 0% 0 3% 0;
	text-align: center;
	color: var(--main-color);
}

/* Navigation */
#tf-menu {
	margin-bottom: 0;
	background: transparent;
	border: 0;
	color: #fff !important;
	padding: 2% 0;
	transition: all 0.5s;
}
#sticky {
    padding: 0.5ex;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}
#tf-menu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #222222;
    padding: 1% 0;
}
#tf-menu.navbar-default .navbar-nav > li > a {
	color: #C5C5C5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover,
#tf-menu.navbar-default .navbar-nav > li > a:focus {
	color: var(--main-color);
	background-color: transparent;
}

.logo {
	font-family: 'Playball', cursive;
}

/* About Section */
#tf-about{
	background: url(../img/15.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #000000
	padding: 80px 0;
}
.section-title.center{
	padding: 30px 0;
}
.section-title h2,
.section-title.center h2{
	font-weight: 300;
}
.section-title.center .line{
	border-top: 4px solid var(--main-color);
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid var(--main-color);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 1%;
}
#about{margin: 0 auto}
#about .item{
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}

img.img-circle.about-img {
	width: 300px;
	height: 300px;
	border: 50% solid transparent;
	overflow: hidden;
	position: relative;
	cursor: default;
	transition: all 0.5s;
}
#tf-about img.img-circle.about-img:hover{
	box-shadow: 0 0 0 4px var(--main-color);
}
#tf-about .thumbnail {
	background: transparent;
	border: 0;
}
/* Aristotle Quote Section */
#tf-quote{
	background: url(../img/aristotle.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tf-quote .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.53) 17%,rgba(0,0,0,0.46) 35%,rgba(0,0,0,0.35) 62%,rgba(0,0,0,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	padding: 80px 0;
	background-attachment: fixed;
}
#quote {
	padding: 30px 0;
}
#quote .item{
    display: block;
    width: 100%;
    height: auto;
}

#quote .item p {
	font-weight: 400;
	margin: 30px 0;
	color: #d1d1d1;
}

/* Sevices Page */
#tf-service{
	padding: 7% 0;
}

.media-left.media-middle i {
	padding: 20px 30px 20px 0;
	font-size: 30px;
	color: var(--main-color);

}

.media-body h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: var(--main-color);
}

#tf-portfolio{
	background: #f1f1f1;
	padding: 5%  0 8% 0;
	text-align: center;
}

.section-title hr{
	border-color: var(--main-color);
	width: 60px;
}

.section-title h2{ font-weight: 700;}
button.btn,
a.btn {
	margin: 15px 5px;
	transition: all 0.5s;
}
button.btn.btn-primary.my-btn,
a.btn.btn-primary.my-btn {
	background: var(--main-color);
	border-color: transparent;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
}
button.btn.btn-primary.my-btn:hover,
a.btn.btn-primary.my-btn:hover{
	background: #FFFFFF;
	color: var(--main-color);
	border-color: transparent;
}
button.btn.btn-primary.my-btn.dark:hover,
a.btn.btn-primary.my-btn.dark:hover{
	background: #222222;
	color: #ffffff;
	border-color: transparent;
}
a.btn.btn-primary.my-btn2 {
	background: rgba(47, 147, 123, 0);
	border-color: #FFFFFF;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	color: #FFFFFF;
}

a.btn.btn-primary.my-btn2:hover{
	background: var(--main-color);
	color: #ffffff;
	border-color: transparent;
}

ul.cat.list-inline li a {
	border: 1px solid var(--main-color);
	padding: 5px 15px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--main-color);
	transition: all 0.5s;
}

ul.cat.list-inline li a:hover{
	background: var(--main-color);
	color: #ffffff;
}

.space{ padding: 20px}
.toppadding{ padding-top: 30px}
.nopadding{ padding:  0;}

#tf-why-me{
	background: url(../img/10.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #222222;
}

#tf-why-me .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 5% 0;
}
ul.why-me li{
	margin: 10px 0;
}


#tf-contact{
	background: url(../img/08.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding: 5% 0;
	text-align: center;
}

form#contact {
	padding: 5%;
	background: #f1f1f1;
	outline: 6px solid rgba(34, 34, 34, 0.08);
}

#tf-contact input.form-control {
	height: 40px;
}

#tf-contact .form-control{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 16px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #FFF;
	border-radius: 0;
	border-top: 2px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: all 0.8s;
	resize: none;

}
#tf-contact .form-control:focus,
#tf-contact .form-control:hover{
	border-top: 2px solid var(--main-color);
}
nav#tf-footer {
	background: #222222;
	padding: 3% 0 2% 0;
	color: #f1f1f1;
}



/* Gallery Section
==============================*/
#tf-works{
	padding: 80px 0;
}
.categories{
	padding: 10px 0;
}
ul.cat li{
	display: inline-block;
}
#tf-works li.pull-right {
	margin-top: 10px;
}
ol.type li{
	display: inline-block;
	margin-left: 20px;
}
ol.type li:after{
	content: ' | ';
	margin-left: 20px;
}
ol.type li:last-child:after { content: ''; }
ol.type li a{ color: #222222}
ol.type li a.active { font-weight: 700; }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.portfolio-item{
	margin-bottom: 30px;
}
.portfolio-item .hover-bg{
	height: 260px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>i{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>i{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}
#tf-works i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid #FCAC45;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #FCAC45;
}

/* === Resume Section === */

/*---------------------------------------------------------
Resume Timeline
-----------------------------------------------------------*/
#tf-resume{
    color: #000000
    padding: 80px 0;
}
.section-title.center{
    padding: 30px 0;
    color: #000000;
}
.section-title h2,
.section-title.center h2{
    font-weight: 300
    color: #000000;
}
.section-title.center .line{
    border-top: 4px solid var(--main-color);
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.section-title.center hr {
    border-top: 4px solid var(--main-color);
    width: 40px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 1%;
}
.resume-title h3{
    text-align: center;
}
.resume-section > div > div{
    margin-bottom: 60px;
}
.resume-section > div > div:nth-of-type(2){
    margin-bottom: 0;
}
.resume-title{
    margin-bottom: 30px;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.resume{
    position: relative;
}

.resume:before{
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.resume:after{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: var(--main-color);
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
}

.timeline-content{
    padding:5px 20px 0 20px;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: relative;
    text-align: center;
    background-color: #fff;
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #2c3e50;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline-heading h3 {
    font-size: 24px;
    line-height: 28px;
}
.timeline-heading span{
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}

@media(min-width:992px) {
.timeline:before {
    left: 50%;
}

.timeline>li {
    margin-bottom: 15px;
    min-height: 100px;
}

.timeline>li .posted-date {
    position: absolute;
    text-align: center;
    background-color: #fff;
}

.timeline>li .timeline-panel {
    float: left;
    width: 43%;
    text-align: right;
    border: 1px solid var(--main-color);
    position: relative;
}

.timeline-content{
    position: relative;
    padding: 16px;
    background-color: #fff;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}

.timeline>li .timeline-content:hover {
    background: var(--main-color);
    color: #fff;
}

.timeline>li .timeline-panel::before,
.timeline>li.timeline-inverted .timeline-panel::before {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline>li .timeline-panel::before {
    left: 100%;
    border-left: 12px solid var(--main-color);
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li .timeline-panel:hover::before {
    border-left: 12px solid var(--main-color);
}

.timeline>li.timeline-inverted .timeline-panel::before {
    right: 100%;
    border-right: 12px solid var(--main-color);
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li.timeline-inverted .timeline-panel:hover::before {
    border-right: 12px solid var(--main-color);
    border-left: 0;
}

.timeline>li .timeline-panel::after,
.timeline>li.timeline-inverted .timeline-panel::after {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline>li .timeline-panel::after {
    left: 100%;
    margin-left: -2px;
    border-left: 12px solid #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li .timeline-panel:hover::after {
    border-left: 12px solid var(--main-color);
}

.timeline>li.timeline-inverted .timeline-panel::after {
    right: 100%;
    margin-right:-2px;
    border-right: 12px solid #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li.timeline-inverted .timeline-panel:hover::after {
    border-right: 12px solid var(--main-color);
    border-left: 0;
}

.timeline>li .posted-date {
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 28px;
}
.timeline>li .posted-date .month {
    float: none;
}
